target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

Certificate_Factory/*.key
Certificate_Factory/*.crt
Certificate_Factory/*.csr
Certificate_Factory/*.srl
Backend/src/main/resources/*.p12
Client/src/main/resources/*.p12

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ
out/

